/* CSS CONSTRUCCION*/

/* IDS */
body {
    max-height: 100px !important;
}

/* TAGS */
#error {
    width: 100%;
    height: 925px;
}

#btn_volver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin: 5%;
    margin-top: 39%;
}

#construccion {
    display: block;
    max-width: 100%;
}

#construccion2{
    display: none;
}



/*Landscape*/
@media (min-width: 810px) and (max-width: 1080px) and (orientation:landscape) {

    body{
        height: 5px !;
    }

    #btn_volver {
        margin-top: 60%;
    }

    img {
        max-width: 100%;
        height: 810px;
    }

    #construccion {
        display: block;
        max-width: 100%;
    }

}

/*Portrait*/
@media (min-width: 810px) and (max-width: 1080px) and (orientation:portrait) {

    #btn_volver {
        margin-top: 52%;
    }
    #construccion2 {
        display: block;
        width: 100%;
    }

    #btn_volver{
        margin-top: 166%;
    }

}

/*Fin tablet*/


/*Inicio movil*/
/*Landscape*/
@media (min-width: 375px) and (max-width: 810px) and (orientation:landscape) {

    body{
        height: 5px !important;
    }

    #btn_volver{
        margin-top: 5%;
    }
 
}

/*Portrait*/
@media (min-width: 375px) and (max-width: 810px) and (orientation:portrait) {

    #construccion{
        display: none !important;
    }

    #construccion2 {
        display: block;
        width: 100%;
    }

    #btn_volver{
        margin-top: 80px;
    }

    .botones_principales a{
        font-size: 25px;
        width: 100%;
    }
}

/*fin movil*/