<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/assets/styles/Carta.css">
        <link rel="stylesheet" href="../static/assets/styles/Styles.css">
        <title>Nuestra Carta</title>
    </head>
    <body>
        <header>
            <nav>
                <button class="botones_nav"><a
                        href="restaurante.html">Restaurante</a></button>
                <button class="botones_nav"><a
                        href="carta.html">Carta</a></button>
                <a href="home.html"><img class="logo"
                        src="../static/assets/img/logo.png"
                        alt="Logo UhMami" /></a>
                <button class="botones_nav"><a
                        href="contacto.html">Contacto</a></button>
                <button class="botones_nav"><a
                        href="reservas.html">Reservas</a></button>
            </nav>
        </header>
        <main>
            <section id="principalCarta">
                <a href="menu_hamburguesa.html"><img class="menu_hamburguesa"
                    src="../static/assets/img/menuhamburguesa.png"
                    alt="Menu" /></a>
                <img
                    class="foto_principal_carta"
                    src="../static/assets/img/9.jpg"
                    alt="foto comida de nuestra carta" />
                <article id="tituloNuestraCarta">
                    <h1>Nuestra Carta</h1>
                    <h4>
                        Una ecléctica selección de platos que fusionan lo mejor
                        de la cocina
                    </h4>
                    <h4 id="h4">
                        mediterránea y japonesa, ofreciendo una experiencia
                        gastronómica
                        inigualable.
                    </h4>
                </article>
            </section>

            <section id="paraEmpezar">
                <img
                    class="fotosCarta"
                    src="../static/assets/img/107.jpg"
                    alt="foto comida de nuestra carta" />
                <article id="titulo_empezar">
                    <h3>Para empezar</h3>
                    <h4 id="h4secciones">El inicio perfecto: Explora nuestros entrantes, una
                        mezcla</h4>
                    <h4 id="h4secciones">
                        única de sabores mediterráneos y japoneses que te
                        dejarán
                        deseando
                        más.
                    </h4>
                </article>
            </section>

            <section id="alergenos">
                <ol class="listaAlergenos">
                    <li class="alergenos">
                        <img class="Icon" src="../static/assets/icons/vegan.png" alt="icono vegano" />
                        <p>Vegano</p>
                    </li>

                    <li class="alergenos">
                        <img class="Icon" src="../static/assets/icons/glutten.png"
                            alt="icono sin glutten" />
                        <p class="p1">Sin glutten</p>
                    </li>

                    <li class="alergenos">
                        <img class="Icon" src="../static/assets/icons/huevo.png" alt="icono huevo" />
                        <p>Huevo</p>
                    </li>

                    <li class="alergenos">
                        <img class="Icon" src="../static/assets/icons/moluscos.png"
                            alt="icono moluscos" />
                        <p>Moluscos</p>
                    </li>

                    <li class="alergenos">
                        <img class="Icon" src="../static/assets/icons/recomendacion.png"
                            alt="icono recomendación" />
                        <p class="p2">Recomendación del chef</p>
                    </li>
                </ol>
            </section>

            <section id="frescoComienzo">
                <h2>Fresco comienzo</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Algas wakame con tomate cherry</h5>
                                <img class="Icon" src="../static/assets/icons/vegan.png"
                                    alt="icono vegano" />
                                <h5 class="precio">6€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Ensalada tataki de
                                    buey</h5>
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Ensalada de piña y
                                    aguacate aliñada con
                                    lima</h5>
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Ensalada de tomate con
                                    ventresca</h5>
                                <h5 class="precio">7€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Ensalada UhMami</h5>
                                <img class="Icon" src="../static/assets/icons/vegan.png"
                                    alt="icono vegano" />
                                <h5 class="precio">7€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>

            <section id="entrantes">
                <h2>Entrantes</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Croquetas UhMami</h5>
                                <img class="Icon" src="../static/assets/icons/recomendacion.png"
                                    alt="icono recomendacion del chef" />
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Gyozas con salsa especial UhMami</h5>
                                <h5 class="precio">6€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Alcachofas crujientes con jamón</h5>
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Milhojas de verdura a la parrilla</h5>
                                <img class="Icon" src="../static/assets/icons/vegan.png"
                                    alt="icono vegano" />
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Tacos de merluza con cilantro y lima</h5>
                                <h5 class="precio">12€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Zamburiñas a la plancha</h5>
                                <img class="Icon" src="../static/assets/icons/moluscos.png"
                                    alt="icono molusco" />
                                <h5 class="precio">12€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Surtido de ibéricos</h5>
                                <img class="Icon" src="../static/assets/icons/glutten.png"
                                    alt="icono glutten" />
                                <h5 class="precio">17€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Pañuelos de queso brie y pimiento</h5>
                                <h5 class="precio">10€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>

            </section>

            <section id="principales">
                <img 
                    class="fotosCarta"
                    src="../static/assets/img/108.jpg"
                    alt="foto comida de nuestra carta" />
                <article id="titulo_principales">
                    <h3>Principales</h3>
                    <h4 id="h4secciones">
                        Delicias principales: Sumérgete en nuestra variedad de
                        platos
                        principales,
                    </h4>
                    <h4 id="h4secciones">
                        cada uno elaborado con ingredientes frescos y
                        cuidadosamente
                        seleccionados
                    </h4>
                </article>
            </section>

            <section id="pastasYarroces">
                <h2>Pastas y arroces</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Rigatoni con panceta italiana y 4 quesos</h5>
                                <h5 class="precio">15€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Ravioli funghi al tartufo</h5>
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>La auténtica carbonara</h5>
                                <img class="Icon" src="../static/assets/icons/recomendacion.png"
                                    alt="icono recomendacion del chef" />
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Paella UhMami</h5>
                                <h5 class="precio">14€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Spaghetti frutti di mare</h5>
                                <img class="Icon" src="../static/assets/icons/moluscos.png"
                                    alt="icono molusco" />
                                <h5 class="precio">16€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>

            <section id="deLaTierra">
                <h2>De la tierra</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Solomillo con salsa japonesa</h5>
                                <h5 class="precio">16€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Steak tartar de Buey</h5>
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Solomillo de Buey de Kobe</h5>
                                <img class="Icon" src="../static/assets/icons/recomendacion.png"
                                    alt="icono recomendacion del chef" />
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Entrecot de Vaca madurada</h5>
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Medallón de Cordero a la brasa</h5>
                                <h5 class="precio">20€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>

            <section id="delMar">
                <h2>Del mar</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Sepia a la plancha con salsa verde</h5>
                                <h5 class="precio">15€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Salmón marinado al té negro y cítricos</h5>
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Delicias de atún salteadas con verduras</h5>
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Gambas picantes al wok con verduras</h5>
                                <h5 class="precio">16€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Mariscada UhMami</h5>
                                <img class="Icon" src="../static/assets/icons/moluscos.png"
                                    alt="icono molusco" />
                                <h5 class="precio">38€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Pulpo con tomate a la marinera</h5>
                                <img class="Icon" src="../static/assets/icons/moluscos.png"
                                    alt="icono molusco" />
                                <h5 class="precio">15€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Dados de tofu en salsa mapo</h5>
                                <img class="Icon" src="../static/assets/icons/huevo.png"
                                    alt="icono huevo" />
                                <h5 class="precio">14€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>

            <section id="nuestrasEspecialidades">
                <h2>Nuestras especialidades</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Uramakis UhMami roll (16 piezas)</h5>
                                <img class="Icon" src="../static/assets/icons/recomendacion.png"
                                    alt="icono recomendacion" />
                                <h5 class="precio">28€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Nigiri de salmón flambeado (2 piezas)</h5>
                                <h5 class="precio">6€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Nigiri de atún toro (2 piezas)</h5>
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Uramakis veggie roll (8 piezas)</h5>
                                <img class="Icon" src="../static/assets/icons/vegan.png"
                                    alt="icono vegano" />
                                <h5 class="precio">14€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Uramakis Tokio roll (8 piezas)</h5>
                                <h5 class="precio">16€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Ostras al limón (1 pieza)</h5>
                                <img class="Icon" src="../static/assets/icons/moluscos.png"
                                    alt="icono molusco" />
                                <h5 class="precio">5€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Combo Sushi Akihabara (24 piezas)</h5>
                                <img class="Icon" src="../static/assets/icons/recomendacion.png"
                                    alt="icono recomendacion del chef" />
                                <h5 class="precio">34€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Combo Sushi Shibuya (32 piezas)</h5>
                                <img class="Icon" src="../static/assets/icons/recomendacion.png"
                                    alt="icono recomendacion del chef" />
                                <h5 class="precio">45€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>

            </section>

            <section id="paraTerminar">
                <img
                    class="fotosCarta"
                    src="../static/assets/img/109.jpg"
                    alt="foto comida de nuestra carta" />
                <article id="titulo_terminar">
                    <h3>Para Terminar</h3>
                    <h4 id="h4secciones">
                        Saborea el dulce final: Deléitate con nuestros postres
                        artesanales.
                    </h4>
                    <h4 id="h4secciones">Una sinfonía de sabores</h4>
                </article>
            </section>

            <section id="nuestrosPostres">
                <h2>Nuestros postres</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Tarta de queso con base de galleta</h5>
                                <img class="Icon" src="../static/assets/icons/recomendacion.png"
                                    alt="icono recomendacion del chef" />
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Tarta con crema de pistacho y nueces</h5>
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Crepes de chocolate, fresas y plátano</h5>
                                <h5 class="precio">6€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Falsa magdalena rellena de chocolate</h5>
                                <h5 class="precio">7€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Coulant de chocolate con nata</h5>
                                <h5 class="precio">6€</h5>
                            </article>
                            <hr />
                        </li><li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Frutas de temporada</h5>
                                <h5 class="precio">7€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Serradura con corona de fresas</h5>
                                <img class="Icon" src="../static/assets/icons/recomendacion.png"
                                    alt="icono recomendacion del chef" />
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5>Flan de la casa</h5>
                                <img class="Icon" src="../static/assets/icons/huevo.png"
                                    alt="icono huevo" />
                                <h5 class="precio">6€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>

            <section id="bebidas">
                <img
                    class="fotosCarta"
                    src="../static/assets/img/101.jpg"
                    alt="foto comida de nuestra carta" />
                <article id="titulo_bebidas">
                    <h3>Bebidas y Cocktails</h3>
                    <h4 id="h4secciones">
                        Descubre nuestros exquisitos cócteles y bebidas.
                    </h4>
                    <h4 id="h4secciones">Acompáñanos en las mejores puestas de sol de Ibiza</h4>
                </article>
            </section>

            <section id="vinos">
                <h2>Vinos</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Tignanello Toscana (it)</h5>
                                <h5 class="precio">16€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Pago de los capellanes (es)</h5>
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Protos Gran Reserva (es)</h5>
                                <h5 class="precio">20€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Matarromera (es)</h5>
                                <h5 class="precio">30€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Ribera de Duero Vega Sicilia (es)</h5>
                                <h5 class="precio">15€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Arínzano Gran Reserva (es)</h5>
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Chardonnay  (it)</h5>
                                <h5 class="precio">17€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Castillo Ygay Gran Reserva (es)</h5>
                                <h5 class="precio">15€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Verdejo kanvas (es)</h5>
                                <h5 class="precio">16€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Vigneti Massa Derthona Sterpi (it)</h5>
                                <h5 class="precio">18€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Viña Tondonia Reserva (es)</h5>
                                <h5 class="precio">20€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>

            <section id="bebidasYrefrescos">
                <h2>Bebidas y refrescos</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">CocaCola</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">CocaCola Zero</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Fanta limón</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Fanta naranja</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Nestea</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Sprite</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li> 
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Copa de cerveza</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Jarra cerveza</h5>
                                <h5 class="precio">5€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Jarra Sangría</h5>
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Agua</h5>
                                <h5 class="precio">2.5€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Agua con gas</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Kombucha</h5>
                                <h5 class="precio">5€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>

            <section id="cafesEinfusiones">
                <h2>Café e infusiones</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Café solo</h5>
                                <h5 class="precio">1.5€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Cortado</h5>
                                <h5 class="precio">2€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Con leche</h5>
                                <h5 class="precio">2.5€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Capuchino</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Americano</h5>
                                <h5 class="precio">2€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Carajillo Ron</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Té chai</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Té rojo</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Tila</h5>
                                <h5 class="precio">2€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Poleo</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Roibos</h5>
                                <h5 class="precio">3€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Manzanilla</h5>
                                <h5 class="precio">2€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>

            <section id="cocktails">
                <h2>Cocktails</h2>
                <ol class="listaComida">
                    <article id="l1izq">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Mojito</h5>
                                <h5 class="precio">9€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Sidecar</h5>
                                <h5 class="precio">10€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Coco loco</h5>
                                <h5 class="precio">8€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Mai Tai</h5>
                                <h5 class="precio">15€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Margarita</h5>
                                <h5 class="precio">12€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Daiquiri</h5>
                                <h5 class="precio">14€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                    <article id="l1drc">
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Manhattan</h5>
                                <h5 class="precio">11€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Cosmopolitan</h5>
                                <h5 class="precio">10€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Martini</h5>
                                <h5 class="precio">12€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Gin Fizz</h5>
                                <h5 class="precio">15€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Gin Gimlet</h5>
                                <h5 class="precio">15€</h5>
                            </article>
                            <hr />
                        </li>
                        <li class="lista">
                            <article class="textoLista">
                                <h5 class="h5NoIcon">Gintonic</h5>
                                <h5 class="precio">12€</h5>
                            </article>
                            <hr />
                        </li>
                    </article>
                </ol>
            </section>
        </main>

        <footer>
            <section id="footer">
                <article id="datos">
                    <img id ="logo_footer" src="../static/assets/img/logoPeque.png" alt="Logo Uhmami" />
                    <p class="txt_footer">Cala Gració, Ibiza - 07800</p>
                    <p class="txt_footer">UhMami@contacto.com</p>
                </article>
                <article id="legal">
                    <p><a href="#" class="txt_footer">Terminos y
                            condiciones</a></p>
                    <p><a href="#" class="txt_footer">Políticas de
                            privacidad</a></p>
                    <p><a href="#" class="txt_footer">Aviso legal</a></p>
                    <p><a href="#" class="txt_footer">Política de
                            cookies</a></p>
                </article>
            </section>
        </footer>

    </body>
</html>