<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/assets/styles/Styles.css">
        <link rel="stylesheet" href="../static/assets/styles/En_construccion.css">
        <title>En construcción</title>
    </head>
    <body>
        <main>
            <img id="construccion"
                src="../static/assets/img/construccion_web.png"
                alt="foto en construccion" />
                <img id="construccion2"
                src="../static/assets/img/consturccion_mvl.png"
                alt="foto en construccion" />
            <button id="btn_volver" class="botones_principales">
                <a href="home.html">Volver al restaurante</a>
            </button>
        </main>
    </body>
</html>