<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/assets/styles/Styles.css">
        <link rel="stylesheet" href="../static/assets/styles/Error_404.css">
        <title>Not found</title>
    </head>
    <body>
        <main>
            <img id="error" src="../static/assets/img/404web.png"
                alt="foto error 404" />
            <img id="errorMvl" src="../static/assets/img/404_MVL.png"
                alt="foto error 404" />
            <button id="btn_volver" class="botones_principales">
                <a href="home.html">Volver al restaurante</a>
            </button>
        </main>
    </body>
</html>