<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/assets/styles/Home.css">
        <link rel="stylesheet" href="../static/assets/styles/Styles.css">
        
        <title>Inicio</title>

    </head>
    <body>
            <section id="foto_principal">
                <a href="menu_hamburguesa.html"><img class="menu_hamburguesa"
                    src="../static/assets/img/menuhamburguesa.png"
                    alt="Menu" /></a>
                <img id ="foto_princ_web"
                    class="foto_principal_home"
                    src="../static/assets/img/principalInicio.png"
                    alt="foto principal" />
                    <img id ="foto_princ_mvl"
                    class="foto_principal_home"
                    src="../static/assets/img/princ_mvl.png"
                    alt="foto principal" />
            </section>
            <header>
                <nav>
                    <button class="botones_nav"><a
                            href="restaurante.html">Restaurante</a></button>
                    <button class="botones_nav"><a
                            href="carta.html">Carta</a></button>
                    <a href="home.html"><img class="logo"
                            src="../static/assets/img/logo.png"
                            alt="Logo UhMami" /></a>
                    <button class="botones_nav"><a
                            href="contacto.html">Contacto</a></button>
                    <button class="botones_nav"><a
                            href="reservas.html">Reservas</a></button>
                </nav>
            </header>
            <main>
                <section id="nuestra_historia">
                    <img class="fondo_titulo"
                        src="../static/assets/img/tit_nuestraHistoria.png" />
                    <p class="p2">
                        En la cala Gració, "UhMami" se destaca como un oasis
                        culinario que cautiva los sentidos con</p>
                    <p class="p2">su fusión de sabores. Desde su apertura, el
                        restaurante ha sido aclamado por su creatividad</p>
                    <p class="p2">y atención al detalle en cada plato. Con un ambiente
                        acogedor
                        y un</p>
                    <article id="historia">
                        <div class="parrafos">
                            <p class="p">servicio impecable, UhMami se</p>
                            <p class="p">ha convertido en un punto de encuentro
                                para</p>
                            <p class="p">aquellos que buscan una experiencia</p>
                            <p class="p">gastronómica memorable. Los chefs Ezra
                                y</p>
                            <p class="p">Alejandro, con su pasión compartida por
                                la
                            </p>
                            <p class="p">cocina, continúan desafiando los
                                límites</p>
                            <p class="p">culinarios y sorprendiendo a sus
                                comensales</p>
                            <p class="p">con nuevas creaciones. La diversidad
                                de</p>
                            <p class="p">influencias culturales se refleja en
                                cada</p>
                            <p class="p">bocado, creando una experiencia</p>
                            <p class="p">verdaderamente global para los
                                amantes</p>
                            <p class="p">de la comida. Hoy en día, UhMami
                                sigue</p>
                            <p class="p">siendo un faro de innovación en la
                                escena</p>
                            <p class="p">gastronómica, deleitando a los
                                paladares</p>
                            <p class="p">más exigentes con su enfoque único</p>
                            <p class="p">y sus sabores inolvidables.</p>
                        </div>
                        <div>
                            <img class="chef"
                                src="../static/assets/img/chef.png" />
                        </div>
                    </article>

                    <button class="botones_principales">
                        <a href="restaurante.html">El restaurante</a>
                    </button>
                </section>

                <section id="sumergete">
                    <h2>Sumérgete en nuestra carta</h2>
                    <div id="fotosSumergete">
                        <article id="caja_empezar">
                            <img id="empezar"
                                src="../static/assets/img/empezar.jpg"
                                alt="foto comida para empezar" />
                            <button id="boton_empezar"
                                class="botones_secundarios">
                                <a href="carta.html#titulo_empezar">Para
                                    empezar</a>
                            </button>
                        </article>
                        <article id="caja_principales">
                            <img id="principales"
                                src="../static/assets/img/princip.jpg"
                                alt="foto comida principal" />
                            <button id="boton_princ"
                                class="botones_secundarios">
                                <a
                                    href="carta.html#titulo_principales">Principales</a>
                            </button>
                        </article>
                        <article id="caja_postres">
                            <img id="postre"
                                src="../static/assets/img/postr.jpg"
                                alt="foto postre" />
                            <button id="boton_postres"
                                class="botones_secundarios">
                                <a href="carta.html#titulo_terminar">Postres</a>
                            </button>
                        </article>
                    </div>
                </section>

                <section id="sec_reservar">
                    <img class="fondo_titulo"
                        src="../static/assets/img/tit_hazrva.png" />
                    <button class="botones_principales">
                        <a href="reservas.html">Reservar</a>
                    </button>
                </section>

                <section id="resenas">
                    <div id="cont_resenas">
                        <h2>Reseñas de nuestros clientes</h2>
                        <article id="resena">
                            <img id="foto_resena"
                                src="../static/assets/img/fotoResena.png"
                                alt="foto clienta reseña" />
                            <p id="textoResena" class="p_resena">
                                Desde el primer bocado hasta el último, cada
                                plato
                                era
                                una obra
                                maestra de sabores sorprendentes y presentación
                                impecable. El
                                ambiente acogedor y el servicio atento hicieron
                                que
                                mi
                                experiencia
                                fuera inolvidable. ¡Definitivamente volveré
                                pronto!"
                            </p>
                        </article>
                        <img id="puntos" src="../static/assets/icons/dots.svg"
                            alt="puntos" />
                    </div>
                </section>

                <script src="../static/javascript/home.js"></script>
            </main>
            <footer>
                <section id="footer">
                    <article id="datos">
                        <img id ="logo_footer" src="../static/assets/img/logoPeque.png"
                            alt="Logo Uhmami" />
                        <p class="txt_footer">Cala Gració, Ibiza - 07800</p>
                        <p class="txt_footer">UhMami@contacto.com</p>
                    </article>
                    <article id="legal">
                        <p><a href="#" class="txt_footer">Terminos y
                                condiciones</a></p>
                        <p><a href="#" class="txt_footer">Políticas de
                                privacidad</a></p>
                        <p><a href="#" class="txt_footer">Aviso legal</a></p>
                        <p><a href="#" class="txt_footer">Política de
                                cookies</a></p>
                    </article>
                </section>
            </footer>
        </body>
    </html>
