<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/assets/styles/Listado_de_reservas.css">
        <link rel="stylesheet" href="../static/assets/styles/Styles.css">
        <title>Listado de reservas</title>
    </head>
    <body>
        <header>
            <nav>
                <button class="botones_nav"><a
                        href="restaurante.html">Restaurante</a></button>
                <button class="botones_nav"><a
                        href="carta.html">Carta</a></button>
                <a href="home.html"><img class="logo"
                        src="../static/assets/img/logo.png"
                        alt="Logo UhMami" /></a>
                <button class="botones_nav"><a
                        href="contacto.html">Contacto</a></button>
                <button class="botones_nav"><a
                        href="reservas.html">Reservas</a></button>
            </nav>
        </header>

        <main>
            <a href="menu_hamburguesa.html"><img class="menu_hamburguesa"
                src="../static/assets/img/menuhamburguesa.png"
                alt="Menu" /></a>
            <section id="datos_fecha">
                <article id="calendario">
                    <label for="fecha">Fecha : </label>
                    <input type="date" id="fecha"
                        th:name="fecha">
                </article>
                <article>
                    <button id="pdf" class="botones_principales">Generar PDF</button>
                        <button id="nueva_reserva" class="botones_principales">Nueva reserva</button>
                </article>
            </section>
            <section id="listado">
                <h2>Listado de reservas:</h2>
                <table>
                    <tr id="titulos_tabla">
                        <th><h6>Hora</h6></th>
                        <th><h6>Nombre</h6></th>
                        <th><h6>Comensales</h6></th>
                        <th><h6>Mesa</h6></th>
                        <th><h6>Modificar</h6></th>
                    </tr>
                    <tr id="registros_tabla" th:each="reserva : ${reservas}">
                        <td class="td1" th:text="${reserva.hora}">13:00</td>
                        <td class="td2" th:text="${reserva.nombre}">Manuel</td>
                        <td class="td3" th:text="${reserva.comensales}">8</td>
                        <td class="td4" th:text="${reserva.mesa}">10</td>
                        <td class="td5"><button class="botones_modificar" sec:authorize="isAuthenticated()">
                            <a th:href="@{/gestionarReserva/{id}(id=${reserva.idReserva})}"></a></button></td>
                    </tr>
                </table>
            </section>

        </main>

        <footer>
            <section id="footer">
                <article id="datos">
                    <img id ="logo_footer" src="../static/assets/img/logoPeque.png" alt="Logo Uhmami" />
                    <p class="txt_footer">Cala Gració, Ibiza - 07800</p>
                    <p class="txt_footer">UhMami@contacto.com</p>
                </article>
                <article id="legal">
                    <p><a href="#" class="txt_footer">Terminos y
                            condiciones</a></p>
                    <p><a href="#" class="txt_footer">Políticas de
                            privacidad</a></p>
                    <p><a href="#" class="txt_footer">Aviso legal</a></p>
                    <p><a href="#" class="txt_footer">Política de
                            cookies</a></p>
                </article>
            </section>
        </footer>

    </body>
</html>