<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/assets/styles/Menu_hamburguesa.css">
        <link rel="stylesheet" href="../static/assets/styles/Styles.css">
        <title>Menu</title>
    </head>
    <body>
        <main>
            <article>
                <a href="home.html" class="boton_cerrar">
                    <img class="Icon" src="../static/assets/icons/cerrar-ventana.png" alt="icono cerrar" />
                </a>
            </article>
            <article>
                <a href="home.html"><h1>Nuestra Historia</h1></a>
                <a href="restaurante.html"><h1>El Restaurante</h1></a>
                <a href="carta.html"><h1>Nuestra Carta</h1></a>
                <a href="contacto.html"><h1>Contacto</h1></a>
                <a href="reservas.html"><h1>Reservas</h1></a>
                <a href="login.html"><h1>Administración</h1></a>
            </article>
        </main>
    </body>
</html>