<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Restaurante</title>
    <link rel="stylesheet" href="../static/assets/styles/Styles.css">
    <link rel="stylesheet" href="../static/assets/styles/Restaurante.css">
  </head>
  <body>
    <header>
      <nav>
        <button class="botones_nav"><a
            href="restaurante.html">Restaurante</a></button>
        <button class="botones_nav"><a
            href="carta.html">Carta</a></button>
        <a href="home.html"><img class="logo"
            src="../static/assets/img/logo.png"
            alt="Logo UhMami" /></a>
        <button class="botones_nav"><a
            href="contacto.html">Contacto</a></button>
        <button class="botones_nav"><a
            href="reservas.html">Reservas</a></button>
      </nav>
    </header>
    <main>
      <section id="principalRestaurante">
        <a href="menu_hamburguesa.html"><img class="menu_hamburguesa"
          src="../static/assets/img/menuhamburguesa.png"
          alt="Menu" /></a>
        <img
          class="foto_principal_restaurante"
          src="../static/assets/img/restaurante.jpeg"
          alt="foto restaurante" />
        <article id="tituloRestaurante">
          <h1>El Restaurante</h1>
          <h4>Nos ubicamos en la maravillosa Cala Gració de Ibiza.</h4>
          <h4>Ven a disfrutar de la mejor puesta de sol de la isla.</h4>
        </article>
      </section>

      <section id="infoRestaurante">
        <p class="p">
          Nos enorgullecemos de ofrecer una experiencia culinaria única que
          combina lo mejor de dos culturas gastronómicas distintas. Nos
          abastecemos de ingredientes frescos y de la más alta calidad,
          provenientes tanto del Mediterráneo como de Japón, para garantizar la
          autenticidad y el sabor en cada plato que servimos.
        </p>
        <p class="p">
          Nuestros pescados
          frescos son cuidadosamente seleccionados de las aguas cristalinas del
          Mediterráneo, mientras que nuestros ingredientes japoneses son
          importados localmente desde proveedores confiables que garantizan la
          calidad y autenticidad de productos como el arroz para sushi, la salsa
          de soja y las algas nori.
        </p>
        <p class="p">Además, trabajamos en estrecha colaboración
          con agricultores locales para obtener verduras frescas y de temporada,
          que añaden un toque mediterráneo vibrante a nuestros platos. Ven y
          descubre cómo el Mediterráneo y Japón se encuentran en armonía en cada
          bocado en nuestro restaurante.
        </p>
        <article id="btnCartaYreserva">
          <button class="botones_principales">
            <a href="carta.html">Ver carta</a>
          </button>
          <button class="botones_principales">
            <a href="reservas.html">Reservar</a>
          </button>
        </article>
      </section>

      <section id="fotosRestaurante">
        <img class="fotos" src="../static/assets/img/chillout.jpg"
          alt="foto restaurante de noche" />
        <img class="fotos" src="../static/assets/img/restaurante_1.jpg"
          alt="foto restaurante iluminado" />
        <img class="fotos" src="../static/assets/img/dia_chiringuito.jpg"
          alt="foto restaurante de dia" />
        <img class="fotos" src="../static/assets/img/mesa_cuadrada.jpeg"
          alt="foto vistas restaurante" />
      </section>

      <section id="nuestroChef">
        <img class="fondo_titulo" src="../static/assets/img/tit_chef.png" />
        <p class="p">
          Ezra Castellá, oriundo de una pintoresca ciudad mediterránea, se
          sumergió en el mundo culinario desde joven, influenciado por los
          aromas de la cocina de su abuela.
        </p>
        <br>
        <p class="p">
          Tras años de formación en destacadas escuelas culinarias globales,
          Ezra refinó su habilidad para combinar sabores y técnicas culinarias
          diversas. Su trayectoria lo llevó a trabajar en prestigiosos
          restaurantes en Europa y Asia, donde desarrolló un estilo distintivo
          que fusiona la tradición mediterránea con la modernidad asiática.
        </p>
        <br>
        <p class="p">
          Cada plato de Ezra cuenta una historia, cautivando a los comensales
          con experiencias gastronómicas únicas y memorables. Hoy en día, Ezra
          es reconocido como un chef innovador y visionario, cuyo restaurante
          figura entre los destinos gastronómicos más codiciados del mundo.
        </p>
      </section>

      <section id="recomendacion">
        <img id="fotoRecomendacion" src="../static/assets/img/106.jpg"
          alt="foto recomendación del chef" />
        <button id="btn_recomendacion" class="botones_secundarios"><a
            href="carta.html"> Recomendación del chef </a></button>
      </section>

    </main>

    <footer>
      <section id="footer">
        <article id="datos">
          <img id="logo_footer" src="../static/assets/img/logoPeque.png"
            alt="Logo Uhmami" />
          <p class="txt_footer">Cala Gració, Ibiza - 07800</p>
          <p class="txt_footer">UhMami@contacto.com</p>
        </article>
        <article id="legal">
          <p><a href="#" class="txt_footer">Terminos y condiciones</a></p>
          <p><a href="#" class="txt_footer">Políticas de privacidad</a></p>
          <p><a href="#" class="txt_footer">Aviso legal</a></p>
          <p><a href="#" class="txt_footer">Política de cookies</a></p>
        </article>
      </section>
    </footer>

  </body>
</html>